<!DOCTYPE html>
<html>
<head>
  <title>Products</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="/products">Product</a></li>
            <li><a href="/tranings">Categori</a></li>
            <li><a href="">Vidio</a></li>
            <li><a href="/transactions">Transaksi</a></li>
            <li><a href="/attandance">Attandance</a></li>
        </ul>
    </div>
    <div class="content">
        
        <h1>Product Member</h1>
        <a href='/products/formcreate' class="btn btn-primary">Create</a>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Product</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <% products.forEach((products, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= products.name_product %></td>
                    <td><%= products.duration %></td>
                    <td><%= products.price %></td>
                    <td>
                        <button type="button" class="btn btn-primary" href=" <%= products.id %>">Edit</button>
                        <a class="btn btn-danger" href="/products/delete/<%= products.id %>" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                    </td>
                  </tr>
                <% }); %>
                </tbody>
        </table>
    </div>
</body>
</html>
