<%- include('../templeteAdmin/sidebar') %>
<body>
    <div class="content">
        
        <h1>Attandance Member</h1>
        <a href='/attandance/formcreate' class="btn btn-primary">Create</a>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name Member</th>
                    <th>Date Attandance</th>
                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                    <% attandance.forEach((attandance, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= attandance.id %></td>
                    <td><%= attandance.name %></td>
                    <td><%= attandance.date_attandance %></td>
                    <!-- <td>
                        <button type="button" class="btn btn-primary" href="">Detail</button>
                    </td> -->
                  </tr>
                <% }); %>
                </tbody>
        </table>
    </div>
</body>

