<%- include('navbar') %>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome To Our Product</h1>
    </div>


      <!-- views/index.ejs -->

    <div class="container" >
        <h2 style="text-align: center;"></h2>
        <div class="row">
            <% products.forEach(products => { %>
                <div class="col">
                    <div class="card card-sm">
                        <div class="card-header">
                            Product
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Id <%= products.id %> </h5>
                            <h5 class="card-title"><%= products.name_product %> </h5>
                            <p class="card-text"><%= products.duration %> day</p>
                            <p class="card-text"><%= products.price %></p>
                            <a href="/transactions/transactionuser" class="btn btn-primary">Go Buy Product</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        <h2 style="text-align: center;">Training Vidio Category</h2>
        <div class="row">
            <% categori.forEach(categori => { %>
                <div class="col">
                    <div class="card card-sm">
                        <div class="card-header">
                            Categori Training
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= categori.name_category_traning %> </h5>
                            <a href="/vidio/<%= categori.id %>" class="btn btn-primary">Go All Vidio</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
<%- include('footer') %>
