<!DOCTYPE html>
<html>
<head>
  <title>Transactions</title>
  <link href="/css/admin.css" rel="stylesheet" type="text/css">
  <link href="path-ke-bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <h2>Admin Menu</h2>
        <ul>
            <li><a href="#">Product</a></li>
            <li><a href="#">Categori</a></li>
            <li><a href="#">Vidio</a></li>
            <li><a href="#">Transaksi</a></li>
            <li><a href="#">Attandance</a></li>
        </ul>
    </div>
    <div class="content">
        
        <h1>Transaction Member</h1>
        <a href='' class="btn btn-primary">Create</a>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name Member</th>
                    <th>Products</th>
                    <th>Date Start</th>
                    <th>Date End</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    <% transactions.forEach((transactions, index) => { %>
                    <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= transactions.id %></td>
                    <td><%= transactions.name %></td>
                    <td><%= transactions.name_product %></td>
                    <td><%= transactions.date_start %></td>
                    <td><%= transactions.date_end %></td>
                    <td><%= transactions.status %></td>
                    <td>
                        <button type="button" class="btn btn-primary" href="">Detail</button>
                    </td>
                  </tr>
                <% }); %>
                </tbody>
        </table>
    </div>
</body>
</html>
